.topNavBar {
    width: 100%;
    height: 60px;
    overflow-y: scroll;

    background-color: #222;
    color: white;

    display: flex;
    flex-wrap: wrap;

    .section {
        flex: 1 1 500px;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .item {
            margin: 0 10px;
            border-radius: 3px;
            padding: 5px 20px;
            flex: 0 1 auto;

            &:hover {
                cursor: pointer;
                background-color: antiquewhite;
                color: black;
                transition: 0.5s;
            }

        }
    }

}